* {
  /* outline: dotted 2px red; */
  box-sizing: border-box;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  background-color: orange;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.heading {
  text-shadow: 2px 2px black;
  color: whitesmoke;
  font-size: 3rem;
}

.gif-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.gif-search-term {
  font-weight: 600;
  font-size: 1.5rem;
}

.gif-image {
  border: solid black 2px;
  min-width: 500px;
  height: 400px;
  border-radius: 8px;
  box-shadow: 2px 2px gray;
  transition: transform 0.3s ease;
  object-fit: contain;
  background-color: whitesmoke;
}

.gif-image:hover {
  transform: scale(1.04);
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-width: 500px;
}

.search-input {
  border-radius: 8px;
  padding: 1rem;
  border: none;
  font-weight: bold;
}

.search-button {
  padding: 0.8rem;
  border-radius: 8px;
  border: none;
  background-color: black;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
}

.search-button:active {
  scale: 0.97;
}
